body{
    margin: 0px;
    padding: 0px;
    background: rgb(192, 192, 192);
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}


main{
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    background: #F3F5FC;
    position: relative;
}

.logo{
    margin: 30px 50px;
}

.seccion-mensaje{
   position: absolute;
    background: #F3F5FC;
    float: left;
    width: 70%;
    text-align: center;
}

/* .mensaje{
    display: block;
    height: 60%;
} */

.texto{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    background:  #F3F5FC;;
    color:#0A3871;;
    font-size: 32px;
    font-family: "Inter";
    line-height: 150%;
}

.texto::placeholder{
    font-family: "Inter";
    color:#0A3871;;
}

.texto:focus, .texto:active{
    border: none;
    outline: none;
}

.aviso{    
    /* position: absolute; */
    float: left;
    margin-top: 30px;
    margin-left: 20%;
    margin-bottom: 10px;
    top: 80%;
}

.aviso p:before{
    content:"🛈"
}

.aviso p{
    color: gray;
    font-family: "Inter";
    font-size: 12px;
    line-height: 150%;
}

.botones{
    /* position: absolute; */
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    top: 85%;
}

.boton-encriptar{
    width: 48%;
    margin-right: 24px;
    padding: 24px;
    border: 1px solid;
    background-color: #0A3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 16px;
    color: white;
}

.boton-desencriptar{
    width: 48%;
    padding: 24px;
    border: 1px solid;
    background-color: #D6DDE6;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 16px;
    color: #0A3871;
}

.seccion-resultado{
    background: #ffffff;
    float: right;
    width: 30%;
    margin: 0 auto;
    height: auto;
}