*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    padding-top: 30px;
    margin-left: 50px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.texto {
    border: none;
    color: #0A3871;
    margin-top: 30px;
    text-transform: lowercase;
}

.texto::placeholder {
    color: #0A3871;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}

 .aviso{
    color: #495057;
    font-size: 18px;
}

.aviso:before {
    content: "🛈"
}

.botones {
    display: flex;
    margin-top: 18px;
}

.boton-encriptar {
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    background-color: #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
}

.boton-desencriptar {
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    background-color: #D6DDE6;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 30px;
    cursor: pointer;
}

.seccion-resultado {
    background: #ffffff;
    background-image: url("/img/Munieco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    /* margin-left: 98px; */
    margin-top: 20px;
    padding-left: 20px;
    /* position: fixed; */
}

.salida{
background: none;
border: none;
}

.salida:focus {
    outline: none;
}

.boton-copiar{
    width: 336px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
}